@font-face {
  font-family: Feather;
  src: url(./assets/feather.ttf);
}

.user {
  width: 2.5em;
  border-radius: 50%;
}

.bells {
  background-color: rgb(201, 201, 201);
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.rounded-circle {
  position: absolute;
  padding: 4px !important;
}
#spanUp {
  top: 22% !important;
  left: 80% !important;
  margin-inline-end: 10px;
  background-color: rgb(68, 68, 233);
}

#spanDown {
  top: 83% !important;
  right: -6% !important;
  background-color: green !important;
}
.relative,
.userAccount {
  position: relative;
  margin-inline: 8px;
}

#instructor {
  background-color: rgb(255, 252, 252);
  border-color: rgb(255, 252, 252);
  color: #000;
}

#courses {
  background-color: #00cc66;
  border: none;
}
.jumbotron {
  background-color: #7c59fe;
}

.icon {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: burlywood;
  padding: 10px;
}

/*  <!-- Jumbotron -->
    <div class="jumbotron">
      <!-- Row&Col -->
      <div class="row">
        <!-- <div class="p-5 mb-4 bg-body-tertiary rounded-3"> -->
        <div class="col-sm-6">
          <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome Web Students!</h1>
            <p class="col-md-8 fs-4">
              Hand-picked Instructor and expertly crafted courses, designed for
              the modern students and entrepreneur.
            </p>
            <button id="courses" class="btn btn-primary btn-lg" type="button">
              Browse Courses
            </button>
            <button
              id="instructor"
              class="btn btn-primary btn-lg"
              type="button"
            >
              Are You Instructore?
            </button>
            <div class="col-3">
              <img src="./assets/hero-img.png" alt="" />
            </div>
          </div>
        </div>
        <!-- <div class="col">
          <img src="./assets/hero-img.png" alt="" />
        </div> -->
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="icon">
            <ion-icon name="videocam-outline"></ion-icon>Column
          </div>
        </div>
        <div class="col">Column</div>
        <div class="col">Column</div>
      </div>
    </div> */
