@font-face {
  font-family: Feather;
  src: url(./assets/feather.ttf);
}

.jumbotron img {
  width: 100%;
  min-width: 200px;
  object-fit: cover;
}

.user {
  width: 2.5em;
  border-radius: 50%;
}

.bells {
  background-color: rgb(201, 201, 201);
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

span.rounded-circle {
  position: absolute;
  padding: 4px !important;
}
#spanUp {
  top: 22% !important;
  left: 80% !important;
  margin-inline-end: 10px;
  background-color: rgb(68, 68, 233);
}

#spanDown {
  top: 83% !important;
  right: -6% !important;
  background-color: green !important;
}
.relative,
.userAccount {
  position: relative;
  margin-inline: 8px;
}
/* Header */
#instructor {
  font-size: medium;
  font-weight: 500;
  padding: 10px !important;
  background-color: rgb(255, 252, 252);
  /* border-color: rgb(255, 252, 252); */
  color: #000;
}

#courses {
  font-size: medium;
  font-weight: 500;
  padding: 10px !important;
  background-color: #00cc66;
  border: none;
}
.jumbotron {
  background-color: #7c59fe;
  color: #fff;
}

.icon {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: burlywood;
  padding: 10px;
}

.container .row.mx-5 ion-icon {
  background-color: rgb(255, 224, 166);
  padding: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: brown;
}
.col-4 {
  display: flex;
  gap: 20px;
}
/* .info__inline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} */
.info__inline p {
  margin: 0;
}
.info__inline span {
  font-weight: bold;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #000;
  padding-inline: 10px;
  height: 50px;
  width: 50px;
  top: 180px;
}

.carousel-control-prev {
  left: -70px;
  border-radius: 50px 5px 5px 50px;
}
.carousel-control-next {
  right: -70px;
  border-radius: 5px 50px 50px 5px;
}
.bi-bar-chart {
  color: #7c59fe;
}
.star__yellow {
  color: rgb(255, 191, 0);
}
.star__yellow .bi-star {
  font-size: small;
}
.card-text span {
  color: #6c757d;
}
span.overline {
  text-decoration: line-through;
}
.price {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* .carousel .slide {
  padding: 10px;
} */
h6 {
  margin: 0;
  font-weight: bold;
}

.card-footer ion-icon {
  width: 1em;
  height: 1em;
}

.user__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__footer ion-icon {
  visibility: visible;
  cursor: pointer;
}
.hidden {
  visibility: hidden !important;
}
.visible {
  visibility: visible !important;
}
/* /* .user__footer ion-icon:hover {
  visibility: hidden;
  cursor: pointer;
} */

.user__footer .filled {
  visibility: hidden;
  cursor: pointer;
}

/* .user__footer .filled:hover {
  display: block;
} */
